.create-party{
  background-color: $pure-white;
  margin-top: 70px;
  border: 1px solid $border-grey;

  .col-md-6:first-child{
    border-right: 1px solid $border-grey
  }
  .btn-row{
    margin-top: 20px;

  }
}
