.change-turn-button{
  background-color: $border-grey;
  border-left: 1px solid $grey;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
  border-top: 10px solid $red;
  padding-top: 0px;
  cursor: pointer;
  box-sizing: border-box;
  max-height: 100px;

}
