a, button, div{
  &.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px;

    &.btn-primary, &.btn-full{
      border-radius: 3px;
      background-color: $white;
      border: $border-grey;
      color: $black;
    }
    &.btn-default{
      background-color: $white;
      color: $black;
    }
    &.btn-primary{
      background-color: $red;
      color: $white;
    }
    &.btn-full{
      width: 100%;
      text-align: center;
      font-size: 18px;
    }
  }


  &.btn-span{
    width: calc(100% - 1px);
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;

    color: $black;
    font-weight: bold;
    font-size: 16px;

    &.btn-span-red{
      background-color: $lightRed;
      border-top: 10px solid $red;
    }
    &.btn-span-blue{
      background-color: $blue;
      border-top: 10px solid $dark-blue;
    }
  }
}


