$blue: #BBDCF2;
$dark-blue: #2C4666;
$red: #C94F3A;
$green: #72c954;
$lightRed: #FCEBE8;
$tan: #EDDEA4;
$white: #F7FCFC;
$pure-white: #FFFFFF;
$black: #3c3c3f;
$border-grey: #F0F2F4;
$border-blue: #EFF7F9;
$grey: #76767C;

$stat-block-background: #fdf1dd;
$stat-block-red: #902717;
