.dropdown{
  .items{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 99;
    width: 140px;
    display: none;
    right: 0px;
    padding: 15px;
    line-height: 30px;
    text-transform: none;
    text-align: right;
    margin-right: 10px;
    .item{
      display: block;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
    }
  }
  &:hover{
    .items{
      display: block;
    }
  }
}
