@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Nunito:300,400,700|Inconsolata");

$serif: 'Bree Serif', 'Times New Roman', serif;
$sans-serif: 'Nunito', 'Helvetica', 'Ariel', sans-serif;
$monospace: 'Inconsolata', 'Consolas', sans-serif;
