input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
select,
textarea{
  border: 1px solid $border-grey;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  background-color: $white;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}



label{
  width: 100%;
  font-size: 14px;
  color: $grey;


}

form{
  padding: 10px;
  box-sizing: border-box;



  input, select, textarea{
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0px 30px 0px;

    &.inline{
      width: auto;
      display: inline-block;
      margin: 1px 0px 3px 0px;
      background-image: none !important;
      &:last-of-type{
        margin: 10px 0px 30px 0px;
      }
    }
  }
}
