.row{
  width: 100%;
}
.col-md-1{
  width: 8.333333%
}
.col-md-2{
  width: 16.6666666%;
}
.col-md-3{
  width: 25%;
}
.col-md-4{
  width: 33.33333%
}
.col-md-5{
  width: 41.6666667%;
}
.col-md-6{
  width: 50%;
}
.col-md-7{
  width: 58.333333%;
}
.col-md-8{
  width: 66.666666%;
}
.col-md-9{
  width: 75%;
}
.col-md-10{
  width: 83.33333%;
}
.col-md-11{
  width: 91.666666%
}
.col-md-12{
  width: 100%;
}

/** Offsets **/
.col-md-offset-1{
  margin-left: 8.333333%
}

.col-md-offset-2{
  margin-left: 16.6666666%;
}

.col-md-offset-3{
  margin-left: 25%;
}

.col-md-offset-4{
  margin-left: 33.33333%
}

.col-md-offset-5{
  margin-left: 41.6666667%;
}

.col-md-offset-6{
  margin-left: 50%;
}

.col-md-offset-7{
  margin-left: 58.333333%;
}

.col-md-offset-8{
  margin-left: 66.666666%;
}

.col-md-offset-9{
  margin-left: 75%;
}

.col-md-offset-10{
  margin-left: 83.33333%;
}
.col-md-offset-11{
  margin-left: 91.666666%
}
.col-md-offset-12{
  margin-left: 100%;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  float: left;
  position: relative;
  min-height: 1px;
  height: 100%;
  &.col-padding{
    padding: 5px;
  }
  &.col-padding-lg{
    padding: 15px;
  }
}

.row{
  float: left;
  width: 100%;
}
