.table{
  width: 100%;
  thead{
    background-color: $grey;
    color: $white;
    th{
      text-align: left;
      border-right: 1px solid $border-grey;
      &:last-child{
        border-right: 0px;
      }
      padding: 10px;
      font-weight: normal;
    }
  }
  tbody{
    tr{
      border: 1px solid $border-grey;
      td{
        border-right: 1px solid $border-grey;
        padding: 10px;
        input{
          margin: 0px;
        }
        &:last-child{
          border-right: 0px;
        }

      }
    }
  }
}
