body, html{
  font-family: $sans-serif;
  font-size: 14px;
  color: $black;
}

h1{
  font-family: $serif;
  font-size: 46px;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.01em;
  padding: 10px 0px;
}

h2{
  font-family: $serif;
  font-size: 34px;
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.01em;
  padding: 10px 0px;
}

h3{
  font-family: $serif;
  font-size: 26px;
  line-height: 125%;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -0.01em;
  padding: 10px 0px;
}

h4{
  font-family: $serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.01em;
  padding: 10px 0px;
}

h5{
  font-family: $sans-serif;
  font-size: 18px;
  line-height: 115%;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.01em;
  padding: 10px 0px;
}

h6{
  font-family: $sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  padding: 10px 0px;
}

p{
  display: block;
}

ul{
  list-style-type: initial;
}

ol{
  list-style-type: decimal;
}
ul, ol{
  padding-left: 30px;
  line-height: 22px;
}

blockquote{
  padding: 10px;
  margin:10px;
  background-color: $border-grey;
  &:before{
    content: '"';
    font-size: 60px;
    color: $grey;
    font-family: $serif;
    float: left;
    display: inline-block;
  }
}

p{
  line-height: 22px;
}

code{
  font-family: $monospace;
}

b, em, strong{
  color: $red;
}

a{
  color: $red;
}

.font-bold{
  font-weight: bold;
}

.text-center{
  text-align: center;
}
