<template>
    <header>
        <logo/>
        <tools/>
    </header>
</template>

<script>
    import Logo from '@/components/Layouts/Header/Logo'
    import Tools from '@/components/Layouts/Header/Tools'
    export default{
        components: {
            'logo' : Logo,
            'tools' : Tools
        }
    }
</script>