<template>
    <div class="tools">
        <div class="dropdown">
            <div class="title"><i class="fa fa-wrench" aria-hidden="true"></i> Tools</div>
            <div class="items">
                <a href="/" class="item">Change Party</a>
                <a href="http://www.fantasynamegenerators.com/dungeons-and-dragons.php#.Wm5kUFPwZ24" class="item">Name Generator</a>
            </div>
        </div>

    </div>
</template>