<template>
  <div class="create-player-character">
    <form>
      <h4>Player Details</h4>
      <div class="form-group">
        <label>
          Player Name
          <input class="form-control" type="text" v-model="player.player_name">
        </label>
      </div>
      <div class="form-group">
        <label>
          Character Name
          <input class="form-control" type="text" v-model="player.name">
        </label>
      </div>
      <div class="form-group">
        <label>
          Max HP
          <input class="form-control" type="number" v-model="player.max_hp">
        </label>
      </div>
      <div class="form-group">
        <label>
          AC
          <input class="form-control" type="number" v-model="player.ac">
        </label>
      </div>

      <div class="form-group">
        <label>
          Speed
          <input class="form-control" type="number" v-model="player.speed">
        </label>
      </div>
      <div class="form-group">
        <label>
          Inspiration
          <input class="form-control" type="number" v-model="player.inspiration">
        </label>
      </div>

      <div class="form-group">
        <label>
          Gold
          <input class="form-control" type="number" v-model="player.gold">
        </label>
      </div>
      <h4>Race / Class</h4>



      <div class="form-group">
        <label>
          Race
          <select class="form-control" v-model="player.race_id">
            <option :value="race.id" v-for="race in races">{{race.race}}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          Class
          <select class="form-control" v-model="player.class_id">
            <option :value="playerClass.id" v-for="playerClass in classes">{{playerClass.class}}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          Alignment
          <select class="form-control" v-model="player.alignment_id">
            <option :value="alignment.id" v-for="alignment in alignments">{{alignment.alignment}}</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <label>
          Level
          <input class="form-control" type="number" v-model="player.level">
        </label>
      </div>

      <div class="form-group">
        <label>
          Exp
          <input class="form-control" type="number" v-model="player.exp">
        </label>
      </div>

      <div class="form-group">
        <h4>Stats</h4>
        <div class="row">
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              STR
              <input type="number" class="text-center form-control" v-model="player.str">
              <span class="modifier">
                ({{Math.floor((player.str - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((player.str - 10) / 2)}})
              </span>
            </label>
          </div>
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              DEX
              <input type="number" class="text-center form-control" v-model="player.dex">
              <span class="modifier">
                ({{Math.floor((player.dex - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((player.dex - 10) / 2)}})
              </span>
            </label>
          </div>
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              CON
              <input type="number" class="text-center form-control" v-model="player.con">
              <span class="modifier">
                ({{Math.floor((player.con - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((player.con - 10) / 2)}})
              </span>
            </label>
          </div>
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              INT
              <input type="number" class="text-center form-control" v-model="player.int">
              <span class="modifier">
                ({{Math.floor((player.int - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((player.int - 10) / 2)}})
              </span>
            </label>
          </div>
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              WIS
              <input type="number" class="text-center form-control" v-model="player.wis">
              <span class="modifier">
                ({{Math.floor((player.wis - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((player.wis - 10) / 2)}})
              </span>
            </label>
          </div>
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              CHA
              <input type="number" class="text-center form-control" v-model="player.cha">
              <span class="modifier">
                ({{Math.floor((player.cha - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((player.cha - 10) / 2)}})
              </span>
            </label>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group">
          <label>
            Initiative Modifier
            <input class="form-control" type="number" v-model="player.initiative_modifier">
          </label>
        </div>

        <div class="form-group">
          <h4>Saving Throws</h4>
          <div class="row">
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                STR
                <input type="number" class="text-center form-control" v-model="player.str_saving">
              </label>
            </div>
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                DEX
                <input type="number" class="text-center form-control" v-model="player.dex_saving">
              </label>
            </div>
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                CON
                <input type="number" class="text-center form-control" v-model="player.con_saving">
              </label>
            </div>
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                INT
                <input type="number" class="text-center form-control" v-model="player.int_saving">
              </label>
            </div>
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                WIS
                <input type="number" class="text-center form-control" v-model="player.wis_saving">
              </label>
            </div>
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                CHA
                <input type="number" class="text-center form-control" v-model="player.cha_saving">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-padding">
        <a style="margin-top: 30px;" class="btn btn-full" @click="cancel">Cancel</a>
      </div>
      <div class="col-md-6 col-padding">
        <a style="margin-top: 30px;" class="btn btn-primary btn-full" @click="createPlayer">{{player.id ? 'Save' : 'Create'}} Player</a>
      </div>

    </form>
  </div>
</template>

<script>
  import store from '@/vuex/store'

  export default {
    name: 'CreatePlayer',
    store,
    data() {
      return {
        player: {
          race_id: 1,
          alignment_id: 1,
          class_id: 1,
          cha: 10,
          wis: 10,
          dex: 10,
          str: 10,
          int: 10,
          con: 10,
          cha_saving: 0,
          wis_saving: 0,
          dex_saving: 0,
          str_saving: 0,
          int_saving: 0,
          con_saving: 0
        }
      }
    },
    props: ['editingPlayer'],
    mounted() {
      store.dispatch('getRaces')
      store.dispatch('getAlignments')
      store.dispatch('getClasses')
      this.player = this.editingPlayer;
    },
    methods: {
      createPlayer: function () {
        var player = this.player;
        player['party_code'] = this.$store.state.party.hash;
        player['current_hp'] = this.player.max_hp;
        var action = 'createPlayer'
        if(player.id){
          action = 'updatePlayer'
        }
        var self = this;
        store.dispatch(action, player).then(function(data){
          if(player.id){
            store.dispatch('getPlayerCharacters', true)
          }
          self.$emit('loadEntity', {
            type: 'player',
            id: self.$store.state.latestPlayer.id
          })
        });
      },
      cancel: function(){
        if(this.player.id){
          this.$emit('loadEntity', {
            type: 'player',
            id: this.player.id
          })
        } else{
          this.$emit('closePanel')
        }
      }
    },
    computed: {
      races: function () {
        return this.$store.state.races;
      },
      alignments: function () {
        return this.$store.state.alignments;
      },
      classes: function () {
        return this.$store.state.classes;
      },
    },
    watch: {
      editingPlayer: function(){
        this.player = this.editingPlayer;
      }
    }
  }
</script>
