<template>
  <div class="players-list list">
    <div class="anti-padder"></div>
    <div class="element" v-for="player in players" @click="loadPlayer(player.id)">
      {{player.name}}
      <div class="add" @click="add(player.id)">
        <i class="fa fa-plus"></i>
      </div>
    </div>
    <div style="padding: 10px;" class="text-center" v-if="players.length == 0">
      You have no players currently

    </div>
    <div class="btn btn-span btn-span-red" @click="createPlayer">
      <h5>+ Add New Player</h5>
    </div>
  </div>
</template>
<script>
  import store from '@/vuex/store'

  export default {
    name: 'PlayerList',
    store,
    data() {
      return {}
    },
    computed: {
      players: function () {
        if (!this.$store.state.playerCharacters.length) {
          store.dispatch('getPlayerCharacters')
        }
        console.log(this.$store.state.playerCharacters)
        return this.$store.state.playerCharacters;
      }
    },
    methods: {
      createPlayer: function(){
        this.$emit('create', 'player');
      },
      add: function (id) {
        store.dispatch('addEncounterPlayer', {
          player_character_id: id,
          encounter_id: this.$store.state.currentEncounter.id
        })
      },
      loadPlayer: function(id){
        this.$emit('loadEntity', {
          type: 'player',
          id: id
        })
      }
    }
  }
</script>
