<template>
  <div class="modify-gold">
    <label>
      <input type="number" v-model="currentInspiration">
    </label>
    <a class="btn btn-primary btn-full" @click="save">Save</a>
  </div>
</template>

<script>
  import Modal from '@/components/Elements/Modal'
  import store from '@/vuex/store'
  export default{
    components:{
      'modal' : Modal
    },
    store,
    data(){
      return {
        currentInspiration: 0
      }
    },
    props: ['player', 'showing'],
    methods: {
      save: function(){
        this.player.inspiration = this.currentInspiration;
        store.dispatch('updatePlayer', this.player)
        this.$emit('closeModal')
      }
    },
    watch: {
      showing: function(){
        this.currentInspiration = this.player.inspiration
      }
    }
  }
</script>
