<template>
  <div class="modify-gold">
    <label>
      <input type="number" v-model="currentExp">
    </label>
    <a class="btn btn-primary btn-full" @click="save">Save</a>
  </div>
</template>

<script>
  import Modal from '@/components/Elements/Modal'
  import store from '@/vuex/store'
  export default{
    components:{
      'modal' : Modal
    },
    store,
    data(){
      return {
        currentExp: 0
      }
    },
    props: ['player', 'showing'],
    methods: {
      save: function(){
        this.player.exp = this.currentExp;
        store.dispatch('updatePlayer', this.player)
        this.$emit('closeModal')
      }
    },
    watch: {
      showing: function(){
        this.currentExp = this.player.exp
      }
    }
  }
</script>
