<template>
  <div v-bind:class="{'stat-block-container': true, 'player-character': true}">
    <modal v-bind:size="'lg'" :showing="showingModal" @hideModal="closeModal">
      <div slot="header" v-if="editType == 'gold'">
        <i class="fa fa-money"></i> Gold
      </div>
      <div slot="header" v-if="editType == 'inspiration'">
        <i class="fa fa-star"></i> Inspiration
      </div>
      <div slot="header" v-if="editType == 'exp'">
        <i class="fa fa-bell"></i> Experience
      </div>
      <div slot="content">
        <modify-gold v-show="editType == 'gold'" :player="playerCharacter" :showing="showingModal" @closeModal="closeModal"/>
        <modify-inspiration v-show="editType == 'inspiration'" :player="playerCharacter" :showing="showingModal" @closeModal="closeModal"/>
        <modify-experience v-show="editType == 'exp'" :player="playerCharacter" :showing="showingModal" @closeModal="closeModal"/>
      </div>
    </modal>
    <div class="orange-box">
      <div class="player-dropdown dropdown">
        <div class="title"><i class="fa fa-cog" aria-hidden="true"></i> Player Actions</div>
        <div class="items dropdown-items">
          <a @click="editPlayer" class="item"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
          <a @click="deletePlayer" class="item"> <i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
          <a @click="modifyGold" class="item"> <i class="fa fa-money"></i> Gold </a>
          <a @click="modifyInspiration" class="item"> <i class="fa fa-star"></i> Inspiration </a>
          <a @click="modifyExp" class="item"> <i class="fa fa-bell"></i> Experience </a>
        </div>
      </div>
      <div class="encounter-dropdown dropdown" v-if="encounterPlayerCharacter">
        <div class="title"><i class="fa fa-cog" aria-hidden="true"></i> Encounter Actions</div>
        <div class="items dropdown-items">
          <a @click="removeFromEncounter" class="item"> <i class="fa fa-pencil" aria-hidden="true"></i> Remove From Encounter</a>
        </div>
      </div>
    </div>
    <div class="stat-block-content" v-if="playerCharacter">
      <div class="title-details">
        <div class="minor-details">
          <h3>{{playerCharacter.name}}</h3>
          <span class="level">
            Level {{playerCharacter.level}} ({{playerCharacter.exp}}EXP)
          </span>
          <span class="minor-details">
            {{playerCharacter.alignment ? playerCharacter.alignment.alignment : '---'}} {{playerCharacter.race ? playerCharacter.race.race : ''}} {{playerCharacter.class ? playerCharacter.class.class : ''}}

          </span>
        </div>
      </div>

      <div class="arrow-left"></div>
      <hr>
      <p class="stat-block">
        <b>Armor Class</b> <span>{{playerCharacter.ac ? playerCharacter.ac : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Hit Points</b> <span>{{playerCharacter.max_hp ? playerCharacter.max_hp : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Speed</b> <span>{{playerCharacter.speed ? playerCharacter.speed : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Gold</b> <span>{{playerCharacter.gold ? playerCharacter.gold : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Inspiration</b> <span>{{playerCharacter.inspiration ? playerCharacter.inspiration : '---'}}</span>
      </p>
      <hr>
      <table>
        <tr class="table-header">
          <td>STR</td>
          <td>DEX</td>
          <td>CON</td>
          <td>INT</td>
          <td>WIS</td>
          <td>CHA</td>
        </tr>
        <tr>
          <td>
            {{playerCharacter.str}} ({{Math.floor((playerCharacter.str-10) / 2) >= 0 ? '+' : ''}} {{Math.floor((playerCharacter.str-10) / 2)}})
          </td>
          <td>
            {{playerCharacter.dex}} ({{Math.floor((playerCharacter.dex-10) / 2) >= 0 ? '+' : ''}} {{Math.floor((playerCharacter.dex-10) / 2)}})
          </td>
          <td>
            {{playerCharacter.con}} ({{Math.floor((playerCharacter.con-10) / 2) >= 0 ? '+' : ''}} {{Math.floor((playerCharacter.con-10) / 2)}})
          </td>
          <td>
            {{playerCharacter.int}} ({{Math.floor((playerCharacter.int-10) / 2) >= 0 ? '+' : ''}} {{Math.floor((playerCharacter.int-10) / 2)}})
          </td>
          <td>
            {{playerCharacter.int}} ({{Math.floor((playerCharacter.int-10) / 2) >= 0 ? '+' : ''}} {{Math.floor((playerCharacter.int-10) / 2)}})
          </td>
          <td>
            {{playerCharacter.cha}} ({{Math.floor((playerCharacter.cha-10) / 2) >= 0 ? '+' : ''}} {{Math.floor((playerCharacter.cha-10) / 2)}})
          </td>
        </tr>
      </table>
      <hr>
      <table>
        <tr class="table-header">
          <td>
            STR<br>
            Saving
          </td>
          <td>
            DEX<br>
            Saving
          </td>
          <td>
            CON<br>
            Saving
          </td>
          <td>
            INT<br>
            Saving
          </td>
          <td>
            WIS<br>
            Saving
          </td>
          <td>
            CHA<br>
            Saving
          </td>
        </tr>
        <tr>
          <td>
            {{playerCharacter.str_saving}}
          </td>
          <td>
            {{playerCharacter.dex_saving}}
          </td>
          <td>
            {{playerCharacter.con_saving}}
          </td>
          <td>
            {{playerCharacter.int_saving}}
          </td>
          <td>
            {{playerCharacter.int_saving}}
          </td>
          <td>
            {{playerCharacter.cha_saving}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
  import store from '@/vuex/store'

  import ModifyGold from '@/components/PlayerCharacters/ModifyGold'
  import ModifyInspiration from '@/components/PlayerCharacters/ModifyInspiration'
  import ModifyExperience from '@/components/PlayerCharacters/ModifyExperience'
  import Modal from "../Elements/Modal";
  export default {
    name: 'PlayerCharacter',
    store,
    data(){
      return {
        showingModal: false,
        editType: ''
      }
    },
    mounted() {
      store.commit('GET_PLAYER', {})
      if (this.id == null) {
        return;
      }
      store.dispatch('getPlayerCharacter', this.id)
    },
    props: ['id', 'encounterPlayerCharacter'],
    components: {
      Modal,
      'modify-gold': ModifyGold,
      'modify-inspiration': ModifyInspiration,
      'modify-experience': ModifyExperience,
    },
    computed: {
      playerCharacter: function () {
        return this.$store.state.playerCharacter;
      }
    },
    watch: {
      id: function (newVal, oldVal) { // watch it
        store.dispatch('getPlayerCharacter', newVal)
      }
    },
    methods: {
      deletePlayer: function(){
        if(confirm('Are you sure you would like to delete '+this.playerCharacter.name+'? This cannot be undone.')){
          store.dispatch('deletePlayerCharacter', this.playerCharacter.id).then(() => {
            this.$emit('closePanel', null);
          });
        }
      },
      editPlayer: function(){
        this.$emit('loadEntity', {
          type: 'create_player',
          entity: this.playerCharacter
        })
      },
      modifyGold: function(){
        this.editType = 'gold'
        this.showingModal = true;
      },
      modifyInspiration: function(){
        this.editType = 'inspiration'
        this.showingModal = true
      },
      modifyExp: function(){
        this.editType = 'exp'
        this.showingModal = true
      },
      closeModal: function(){
        this.showingModal = false;
      },
      removeFromEncounter: function(){
        if(confirm('Are you sure you would like to remove '+this.playerCharacter.name+' from this encounter?')){
          store.dispatch('removeEncounterEntity', {
            type: 'player',
            id: this.encounterPlayerCharacter.id,
            encounter_id: this.$store.state.currentEncounter.id
          }).then(() => {
            this.$emit('closePanel')
            store.dispatch('createEvent', 'Removed '+this.playerCharacter.name+ ' from encounter');
          });
        }
      }
    }
  }
</script>
