<template>
  <div class="actions">
    <div v-for="(action, index) in actions" class="action">
      <div class="form-group">
        <label>
          Name
          <input type="text" v-model="action.name">
        </label>
      </div>

      <div class="form-group">
        <label>
          Description
          <textarea v-model="action.desc">{{action.desc}}</textarea>
        </label>
      </div>


      <div class="form-group">
        <label>
          Attack Bonus
          <input type="number" v-model="action.attack_bonus">
        </label>
      </div>

      <div class="form-group">
        <label>
          Damage Dice
          <input type="text" v-model="action.damage_dice">
        </label>
      </div>

      <div class="form-group">
        <label>
          Damage Bonus
          <input type="number" v-model="action.damage_bonus">
        </label>
      </div>

      <a class="btn btn-primary" @click="addAction">Add Another</a>
      <a v-if="index != 0" class="btn btn-default" @click="removeAction(index)">Remove</a>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['actions'],
    methods: {
      addAction: function(){
        this.actions.push({desc: undefined, name: undefined, attack_bonus: undefined, damage_dice: undefined, damage_bonus: undefined})
      },
      removeAction: function(index){
        this.actions.splice(index, 1);
      }
    }
  }
</script>
