<template>
  <div class="create-monster">
    <form>
      <h4>Monster Details</h4>
      <div class="form-group">
        <label>
          Name
          <input type="text" class="form-control" v-model="monster.name">
        </label>
      </div>
      <div class="form-group">
        <label>
          Size
          <select v-model="monster.size">
            <option v-for="size in enumerators.sizes">{{size}}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          Alignment
          <select class="form-control" v-model="monster.alignment">
            <option  v-for="alignment in alignments">{{alignment.alignment}}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          Type
          <select v-model="monster.type">
            <option v-for="monster_type in enumerators.monster_types">{{monster_type}}</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <label>
          Challenge
          <select v-model="monster.challenge_rating">
            <option v-for="challenge in enumerators.challenge_ratings">{{challenge}}</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        Speed
        <speed-row
          v-for="(speed, index) in monster.speed_types"
          :speed_type="speed"
          :key="index"
          :index="index"
          v-on:add="addSpeed"
          v-on:remove="removeSpeed"/>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            Senses
            <div v-for="(selected_sense, index) in monster.selected_senses">
              <select class="inline" v-model="selected_sense.sense">
                <option>---</option>
                <option v-for="sense in enumerators.senses">{{sense}}</option>
              </select>
              <a @click="addSense" class="btn btn-primary">+</a>
              <a @click="removeSense(index)" class="btn btn-default" v-show="index != 0">-</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            Languages
            <div v-for="(selected_language, index) in monster.selected_languages">
              <select class="inline" v-model="selected_language.language">
                <option>---</option>
                <option v-for="language in enumerators.languages">{{language}}</option>
              </select>
              <a @click="addLanguage" class="btn btn-primary">+</a>
              <a @click="removeLanguage(index)" class="btn btn-default" v-show="index != 0">-</a>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            Damage Immunities
            <div v-for="(selected_damage_immunity, index) in monster.selected_damage_immunities">
              <select class="inline" v-model="selected_damage_immunity.damage_type">
                <option>---</option>
                <option v-for="damage_type in enumerators.damageTypes">{{damage_type}}</option>
              </select>
              <a @click="addDamageImmunity" class="btn btn-primary">+</a>
              <a @click="removeDamageImmunity(index)" class="btn btn-default" v-show="index != 0">-</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            Damage Vulnerabilities
            <div v-for="(selected_damage_vulnerability, index) in monster.selected_damage_vulnerabilities">
              <select class="inline" v-model="selected_damage_vulnerability.damage_type">
                <option>---</option>
                <option v-for="damage_type in enumerators.damageTypes">{{damage_type}}</option>
              </select>
              <a @click="addDamageVulnerability" class="btn btn-primary">+</a>
              <a @click="removeDamageVulnerability(index)" class="btn btn-default" v-show="index != 0">-</a>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        Condition Immunities
        <div v-for="(selected_condition_immunity, index) in monster.selected_condition_immunities">
          <select class="inline" v-model="selected_condition_immunity.condition_type">
            <option>---</option>
            <option v-for="condition_type in enumerators.conditions">{{condition_type}}</option>
          </select>
          <a @click="addConditionImmunity" class="btn btn-primary">+</a>
          <a @click="removeConditionImmunity(index)" class="btn btn-default" v-show="index != 0">-</a>
        </div>
      </div>



      <div class="form-group">
        <h4>Stats</h4>
        <div class="form-group">
          <label>
            Hit Points
            <input class="form-control" type="number" v-model="monster.hit_points">
          </label>
        </div>
        <div class="form-group">
          <label>
            Hit Dice
            <br>
            <input class="inline" type="number" placeholder="# of Rolls" v-model="monster.hit_dice_number">
            <select class="inline" v-model="monster.hit_dice_die">
              <option v-for="dice in enumerators.dice">{{dice}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label>
            Armor Class
            <input class="form-control" type="number" v-model="monster.armor_class">
          </label>
        </div>
        <div class="row">
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              STR
              <input type="number" class="text-center form-control" v-model="monster.strength">
              <span class="modifier">
                ({{Math.floor((monster.strength - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((monster.strength - 10) / 2)}})
              </span>
            </label>
          </div>
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              DEX
              <input type="number" class="text-center form-control" v-model="monster.dexterity">
              <span class="modifier">
                ({{Math.floor((monster.dexterity - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((monster.dexterity - 10) / 2)}})
              </span>
            </label>
          </div>
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              CON
              <input type="number" class="text-center form-control" v-model="monster.constitution">
              <span class="modifier">
                ({{Math.floor((monster.constitution - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((monster.constitution - 10) / 2)}})
              </span>
            </label>
          </div>
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              INT
              <input type="number" class="text-center form-control" v-model="monster.intelligence">
              <span class="modifier">
                ({{Math.floor((monster.intelligence - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((monster.intelligence - 10) / 2)}})
              </span>
            </label>
          </div>
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              WIS
              <input type="number" class="text-center form-control" v-model="monster.wisdom">
              <span class="modifier">
                ({{Math.floor((monster.wisdom - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((monster.wisdom - 10) / 2)}})
              </span>
            </label>
          </div>
          <div class="col-md-2 col-padding text-center">
            <label class="font-bold">
              CHA
              <input type="number" class="text-center form-control" v-model="monster.charisma">
              <span class="modifier">
                ({{Math.floor((monster.charisma - 10) / 2) > 0 ? '+' : ''}}{{Math.floor((monster.charisma - 10) / 2)}})
              </span>
            </label>
          </div>
        </div>
        <div class="clearfix"></div>
        <br><br>
        <div class="form-group">
          <h5>Saving Throws</h5>
          <div class="row">
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                STR
                <input type="number" class="text-center form-control" v-model="monster.strength_save">
              </label>
            </div>
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                DEX
                <input type="number" class="text-center form-control" v-model="monster.dexterity_save">
              </label>
            </div>
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                CON
                <input type="number" class="text-center form-control" v-model="monster.constitution_save">
              </label>
            </div>
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                INT
                <input type="number" class="text-center form-control" v-model="monster.intelligence_save">
              </label>
            </div>
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                WIS
                <input type="number" class="text-center form-control" v-model="monster.wisdom_save">
              </label>
            </div>
            <div class="col-md-2 col-padding text-center">
              <label class="font-bold">
                CHA
                <input type="number" class="text-center form-control" v-model="monster.charisma_save">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <h4>Actions</h4>
        <actions :actions="monster.actions"/>
      </div>
      <br><br><br>
      <a class="btn btn-primary btn-full" @click="saveMonster">Save Creature</a>
    </form>
  </div>
</template>

<script>
  import store from '@/vuex/store'
  import SpeedRow from '@/components/Monsters/SpeedTypeRow';
  import Actions from '@/components/Monsters/Actions';

  export default {
    components: {
      'speed-row': SpeedRow,
      'actions' : Actions
    },
    store,
    data() {
      return {
        monster: {
          actions: [{desc: undefined, name: undefined, attack_bonus: undefined, damage_dice: undefined, damage_bonus: undefined}],
          special_abilities: [],
          speed_types: [{type: undefined, distance: '0ft'}],
          selected_senses: [{sense: '---'}],
          selected_languages: [{language: 'Common'}],
          selected_damage_immunities: [{damage_type: '---'}],
          selected_damage_vulnerabilities: [{damage_type: '---'}],
          selected_condition_immunities: [{condition_type: '---'}],
          strength: 10,
          dexterity: 10,
          wisdom: 10,
          intelligence: 10,
          constitution: 10,
          charisma: 10,
          strength_save: 0,
          dexterity_save: 0,
          wisdom_save: 0,
          intelligence_save: 0,
          constitution_save: 0,
          charisma_save: 0,
          hit_dice_die: 'd6'
        }
      }
    },
    props: ['editingMonster'],
    mounted() {
      store.dispatch('getAlignments')
      store.dispatch('getAllEnumerators');
      this.monster = this.editingMonster.monster;
    },
    methods: {
      addSpeed: function () {
        this.monster.speed_types.push({
          type: undefined,
          distance: '0ft'
        })
      },
      removeSpeed: function (index) {
        this.monster.speed_types.splice(index, 1);
      },
      addSense: function(){
        this.monster.selected_senses.push({
          sense: '---'
        })
      },
      removeSense: function(index){
        this.monster.selected_senses.splice(index, 1)
      },
      addLanguage: function(){
        this.monster.selected_languages.push({
          sense: '---'
        })
      },
      removeLanguage: function(index){
        this.monster.selected_languages.splice(index, 1)
      },
      addDamageImmunity: function(){
        this.monster.selected_damage_immunities.push({
          damage_type: '---'
        })
      },
      removeDamageImmunity: function(index){
        this.monster.selected_damage_immunities.splice(index, 1)
      },
      addDamageVulnerability: function(){
        this.monster.selected_damage_vulnerabilities.push({
          damage_type: '---'
        })
      },
      removeDamageVulnerability: function(index){
        this.monster.selected_damage_vulnerabilities.splice(index, 1)
      },
      addConditionImmunity: function(){
        this.monster.selected_condition_immunities.push({
          condition_type: '---'
        })
      },
      removeConditionImmunity: function(index){
        this.monster.selected_condition_immunities.splice(index, 1)
      },
      saveMonster: function(){
        this.monster.speed = this.monster.speed_types.map((current)=>current.type+' '+current.distance).join(', ');
        this.monster.senses = this.monster.selected_senses.map((current)=>current.sense).join(', ');
        this.monster.languages = this.monster.selected_languages.map((current)=>current.language).join(', ');
        this.monster.hit_dice = this.monster.hit_dice_number+this.monster.hit_dice_die
        this.monster.condition_immunities = this.monster.selected_condition_immunities.map((condition) => condition.condition_type).join(', ');
        this.monster.damage_immunities = this.monster.selected_damage_immunities.map((condition) => condition.damage_type).join(', ');
        this.monster.damage_vulnerabilities = this.monster.selected_damage_vulnerabilities.map((condition) => condition.damage_type).join(', ');
        if(this.editingMonster){
          alert('here');
        } else {
          store.dispatch('createMonster', this.monster).then(() => {
            this.$emit('loadEntity', {
              type: 'monster',
              id: this.$store.state.latestMonster.id
            })
          });
        }

      }
    },
    computed: {
      enumerators: function () {
        return this.$store.state.enumerators;
      },
      alignments: function () {
        return this.$store.state.alignments;
      }
    }
  }
</script>
