<template>
  <div class="monster-list list">
    <input type="text" class="search" placeholder="Search" v-model="search">
    <div class="padder"></div>
    <div v-bind:class="{element: true, selected: monster.id == $store.state.monster.id}" v-for="monster in monsters"
         @click="loadMonster(monster.id)" v-if="monsters.length > 0">
      {{monster.name}}
      <div class="add" @click="add(monster.id, monster.name)">
        <i class="fa fa-plus"></i>
      </div>
    </div>
    <div class="btn btn-span btn-span-red" @click="create">
      <h5>+ Add New Monster</h5>
    </div>
  </div>
</template>
<script>
  import store from '@/vuex/store'
  import {filter} from 'fuzzaldrin'

  export default {
    name: 'MonsterList',
    store,
    data() {
      return {
        search: ''
      }
    },
    methods: {
      add: function (id, name) {
        store.dispatch('addEncounterMonster', {
          monster_id: id,
          encounter_id: this.$store.state.currentEncounter.id
        }).then(() => {
          let eventText = name + ' was added to the current encounter';
          let latestEvent = this.$store.state.events[0];
          if(latestEvent && latestEvent.text == eventText){
            eventText = 'Another ' + eventText;
          }
          if(latestEvent && 'Another ' + eventText == latestEvent.text){
            eventText = 'Another ' + eventText;
          }
          store.dispatch('createEvent', eventText);
        })
      },
      create: function () {
        this.$emit('create', 'monster');
      },
      loadMonster: function(id){
        this.$emit('loadEntity', {
          type: 'monster',
          id: id
        })
      }
    },
    computed: {
      monsters: function () {
        if (!this.$store.state.monstersList.length && this.$store.state.party.hash) {
          store.dispatch('listMonsters')
        }
        if (!this.search) {
          return this.$store.state.monstersList;
        }
        return filter(this.$store.state.monstersList, this.search, {key: 'name'})
      }
    }
  }
</script>
