<template>
  <div class="speed-type-row">
    <input class="inline" type="text" placeholder="Movement Type" v-model="speed_type.type">
    <select class="inline" v-model="speed_type.distance">
      <option v-for="speed in speedOptions">{{speed}}</option>
    </select>
    <a class="btn btn-primary" @click="add">+</a>
    <a class="btn btn-default" v-if="index != 0" @click="remove">-</a>
  </div>
</template>

<script>
  export default {
    props: ['speed_type', 'index'],
    computed: {
      speedOptions: function(){
        var speeds = [];
        for(var x = 0; x < 150; x=x+5){
          speeds.push(x+'ft');
        }
        return speeds;
      }
    },
    methods: {
      add: function(){
        this.$emit('add');
      },
      remove: function(){
        this.$emit('remove', this.index);
      }
    }
  }
</script>
