<template>
  <div v-bind:class="{'stat-block-container': true, 'monster-container': true}">
    <div :class="{'orange-box': true, 'orange-box-large': encounterMonster || monster.is_custom}">
      <div :class="{dropdown:true, 'encounter-dropdown': true, 'push-left': monster.is_custom}" v-if="encounterMonster">
        <div class="title"><i class="fa fa-cog" aria-hidden="true"></i> Encounter Actions</div>
        <div class="items dropdown-items">
          <a @click="removeFromEncounter" class="item">Remove From Encounter</a>
        </div>
      </div>
      <div class="monster-dropdown dropdown" v-if="monster.is_custom">
        <div class="title"><i class="fa fa-cog" aria-hidden="true"></i> Monster Actions</div>
        <div class="items dropdown-items">
          <a @click="editMonster" class="item"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
          <a @click="deleteMonster" class="item"> <i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        </div>
      </div>
    </div>

    <div class="stat-block-content" v-if="monster.monster != undefined">
      <div class="title-details">
        <div class="minor-details">
          <h3>
            {{monster.monster.name}} <span v-if="encounterMonster">#{{encounterMonster.number + 1}}</span>
          </h3>
          <span class="minor-details">
              {{monster.monster.size}} {{monster.monster.type.capitalize()}}, {{monster.monster.alignment}}
          </span>
        </div>
      </div>
      <div class="arrow-left"></div>
      <hr>
      <p class="stat-block">
        <b>Armor Class</b> <span>{{monster.monster.armor_class ? monster.monster.armor_class : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Hit Points</b> <span>{{monster.monster.hit_points}} ({{monster.monster.hit_dice ? monster.monster.hit_dice : '---'}})</span>
      </p>
      <p class="stat-block">
        <b>Speed</b> <span>{{monster.monster.speed ? monster.monster.speed : '---'}}</span>
      </p>
      <hr>
      <table>
        <tr class="table-header">
          <td>STR</td>
          <td>DEX</td>
          <td>CON</td>
          <td>INT</td>
          <td>WIS</td>
          <td>CHA</td>
        </tr>
        <tr>
          <td>
            {{monster.monster.strength}} ({{Math.floor((monster.monster.strength-10) / 2) >= 0 ? '+' : ''}}
            {{Math.floor((monster.monster.strength-10) / 2)}})
          </td>
          <td>
            {{monster.monster.dexterity}} ({{Math.floor((monster.monster.dexterity-10) / 2) >= 0 ? '+' : ''}}
            {{Math.floor((monster.monster.dexterity-10) / 2)}})
          </td>
          <td>
            {{monster.monster.constitution}} ({{Math.floor((monster.monster.constitution-10) / 2) >= 0 ? '+' : ''}}
            {{Math.floor((monster.monster.constitution-10) / 2)}})
          </td>
          <td>
            {{monster.monster.intelligence}} ({{Math.floor((monster.monster.intelligence-10) / 2) >= 0 ? '+' : ''}}
            {{Math.floor((monster.monster.intelligence-10) / 2)}})
          </td>
          <td>
            {{monster.monster.wisdom}} ({{Math.floor((monster.monster.wisdom-10) / 2) >= 0 ? '+' : ''}}
            {{Math.floor((monster.monster.wisdom-10) / 2)}})
          </td>
          <td>
            {{monster.monster.charisma}} ({{Math.floor((monster.monster.charisma-10) / 2) >= 0 ? '+' : ''}}
            {{Math.floor((monster.monster.charisma-10) / 2)}})
          </td>
        </tr>
      </table>
      <hr>
      <p class="stat-block">
        <b>Damage Immunities </b> <span>{{monster.monster.damage_immunities ? monster.monster.damage_immunities : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Damage Resistances </b> <span>{{monster.monster.damage_resistances ? monster.monster.damage_resistances : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Condition Immunities </b> <span>{{monster.monster.condition_immunities ? monster.monster.condition_immunities : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Damage Vulnerabilities</b> <span>{{monster.monster.damage_vulnerabilities ? monster.monster.damage_vulnerabilities : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Senses</b> <span>{{monster.monster.senses ? monster.monster.senses : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Languages</b> <span>{{monster.monster.languages ? monster.monster.languages : '---'}}</span>
      </p>
      <p class="stat-block">
        <b>Challenge</b> <span>{{monster.monster.challenge_rating}} {{chaToXp[monster.monster.challenge_rating ? monster.monster.challenge_rating : '---']}} </span>
      </p>
      <hr>
      <h4 v-if="monster.monster.special_abilities"><span style="font-weight: normal">S</span>pecial Abilities</h4>
      <p class="action" v-for="special_ability in monster.monster.special_abilities">
        <b>{{special_ability.name}}</b> {{special_ability.desc}}
      </p>
      <h4><span style="font-weight: normal">A</span>ctions</h4>
      <p class="action" v-for="action in monster.monster.actions">
        <b>{{action.name}}</b> {{action.desc}}<br>

        <span v-if="action.damage_dice">
          <em>HIT:</em>  {{action.damage_dice}} <span v-if="action.damage_bonus">+ {{action.damage_bonus}}</span>
        </span>
        <span v-if="action.attack_bonus">
          <br>
          <em>Attack Bonus: </em> +{{action.attack_bonus}}
        </span>

      </p>
      <div v-show="monster.monster.legendary_actions">
        <h4><span style="font-weight: normal">L</span>egendary <span style="font-weight: normal">A</span>ctions</h4>
        <p class="action" v-for="action in monster.monster.legendary_actions">
          <b>{{action.name}}</b> {{action.desc}}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
  import store from '@/vuex/store'

  export default {
    name: 'Monster',
    store,
    mounted() {
      if (this.id == null) {
        return;
      }
      store.dispatch('getMonster', this.id)
    },
    data() {
      return {
        chaToXp: {
          '0': '(0–10 XP)',
          '1/8': '(25 XP)',
          '1/4': '(50 XP)',
          '1/2': '(100 XP)',
          '1': '(200 XP)',
          '2': '(450 XP)',
          '3': '(700 XP)',
          '4': '(1,100 XP)',
          '5': '(1,800 XP)',
          '6': '(2,300 XP)',
          '7': '(2,900 XP)',
          '8': '(3,900 XP)',
          '9': '(5,000 XP)',
          '10': '(5,900 XP)',
          '11': '(7,200 XP)',
          '12': '(8,400 XP)',
          '13': '(10,000 XP)',
          '14': '(11,500 XP)',
          '15': '(13,000 XP)',
          '16': '(15,000 XP)',
          '17': '(18,000 XP)',
          '18': '(20,000 XP)',
          '19': '(22,000 XP)',
          '20': '(25,000 XP)',
          '21': '(33,000 XP)',
          '22': '(41,000 XP)',
          '23': '(50,000 XP)',
          '24': '(62,000 XP)',
          '30': '(155,000 XP)'
        }
      }
    },
    props: ['id', 'encounterMonster'],
    computed: {
      monster: function () {
        return this.$store.state.monster;
      }
    },
    methods: {
      removeFromEncounter: function(){
        if(confirm('Are you sure you would like to delete this '+this.monster.monster.name+'?')){
          store.dispatch('removeEncounterEntity', {
            type: 'monster',
            id: this.encounterMonster.id,
            encounter_id: this.$store.state.currentEncounter.id
          }).then(() => {
            this.$emit('closePanel')
            store.dispatch('createEvent', 'Removed '+this.monster.monster.name+' #'+(this.encounterMonster.number+1) + ' from encounter');
          });
        }
      },
      editMonster(){

        this.$emit('loadEntity', {
          type: 'create_monster',
          entity: this.monster
        })
      },
      deleteMonster(){
        if(confirm('Are you sure you would like to delete '+this.monster.monster.name+'? This action cannot be undone.')){
          store.dispatch('deleteMonster', this.monster).then(()=>{
            this.$emit('closePanel')
          })
        }
      }
    },
    watch: {
      id: function (newVal, oldVal) { // watch it
        store.dispatch('getMonster', newVal)
      }
    }
  }
</script>
