<template>
    <div class="create-event">
        <a class="btn btn-default" @click="createEvent">Click here to create an event</a>
    </div>
</template>
<script>
    import store from '@/vuex/store'
    export default {
        name: 'CreateEvent',
        store,
        methods: {
            createEvent: function () {
                store.dispatch('createEvent', 'Something happened! ' + (new Date).getTime())
            }
        }
    }
</script>