<template>
    <div class="events">
        <span v-html="event.text"></span>
    </div>
</template>
<script>
    import store from '@/vuex/store'
    export default {
        name: 'ViewEvents',
        store,
        computed: {
            event: function(){
                if(!this.$store.state.events.length){
                    return {
                        text: 'Welcome to Encounters 1.0!  Have Fun! Feel free to give us some beer money :) <a href="http://google.com">Patreon</a>'
                    }
                }
                return this.$store.state.events.sort(function(a, b){
                    return a.updated_at < b.updated_at
                })[0]
            }
        }
    }
</script>