<template>
  <div class="spell-list list">
    <input type="text" class="search" placeholder="Search" v-model="search">
    <div class="padder"></div>
    <div v-bind:class="{element: true, selected: $store.state.spell.id == spell.id}" v-for="spell in spells"
         @click="loadSpell(spell.id)" v-if="spells.length > 0">
      {{spell.name}}
    </div>
    <div class="btn btn-span btn-span-red" @click="create">
      <h5>+ Add New Spell</h5>
    </div>
  </div>
</template>
<script>
  import store from '@/vuex/store'
  import {filter} from 'fuzzaldrin'

  export default {
    name: 'SpellList',
    store,
    data() {
      return {
        search: ''
      }
    },
    computed: {
      spells: function () {
        if (!this.$store.state.spellsList.length) {
          store.dispatch('listSpells')
        }
        if (!this.search) {
          return this.$store.state.spellsList;
        }
        return filter(this.$store.state.spellsList, this.search, {key: 'name'})
      }
    },
    methods: {
      create: function () {
        this.$emit('create', 'spell');
      },
      loadSpell: function(id){
        this.$emit('loadEntity', {
          type: 'spell',
          id: id
        })
      }
    }
  }
</script>
