<template>
    <div class="stat-block-container">
        <div class="orange-box"></div>
        <div class="stat-block-content" v-if="spell.spell != undefined">
            <h3>{{spell.spell.name}}</h3>
            <i>
                 {{spell.spell.level}} spell
            </i>
            <hr>
            <p>
                <b>Casting Time:</b> {{spell.spell.casting_time}}
            </p>
            <p>
                <b>Range:</b> {{spell.spell.range}}
            </p>
            <p>
                <b>Components:</b> {{spell.spell.components}}
            </p>
            <p>
                <b>Duration:</b> {{spell.spell.duration}}
            </p>
            <p>
                <b>Class:</b> {{spell.spell.class}}
            </p>
            <br>
            <p v-html="spell.spell.desc">
            </p>
        </div>
    </div>
</template>
<script>
    import store from '@/vuex/store'
    export default {
        name: 'Spell',
        store,
        mounted(){
            store.commit('GET_SPELL', {})
            if(this.id == null){
                return;
            }
            store.dispatch('getSpell', this.id)
        },
        props: ['id'],
        computed: {
            spell: function(){
                return this.$store.state.spell;
            }
        },
        watch: {
            id: function(newVal, oldVal) { // watch it
                store.dispatch('getSpell', newVal)
            }
        }
    }
</script>
