.health{
  border-radius: 3px;

  .showing{
    padding: 17px 10px;
    font-size: 12px;
    &.bloodied{
      color: $red;
    }
  }
  .editing{
    input{
      outline: none;
      width: calc(100% - 30px);
      /* background-color: #FFF; */
      /* border: 0px; */
      margin-top: 3px;
      height: 100%;
    }
  }
  &:hover{
    background-color: $tan;
  }
}
