.list{
  width: 100%;
  padding-bottom: 100px;
  .search{
    width: calc(100% - 31px);
    position: absolute;
    font-size: 16px;
    padding: 15px;
    border: 0px;
    border-bottom: 2px solid $border-grey;
  }
  .padder{
    width: 100%;
    height: 50px;
  }
  .anti-padder{
    width: 100%;
    height: 1px;
  }
  .element{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    .add{
      float: right;
      &:hover{
        color: $red;
      }
    }
    &.selected{
      font-weight: bold;
      color: $red;
    }
    &:first-child{
      margin-top: 200px;
    }
    &:nth-child(even){
      background-color: $white;
    }
  }
}
