.modal{
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: absolute;
  .background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
  }

  .modal-container{
    position: relative;
    z-index: 1000;
    display: block;
    background-color: #fff;
    top: 10%;
    padding: 20px;

    .close{
      position: absolute;
      cursor: pointer;
      left: 100%;
      margin-left: -30px;
      top: 15px;
    }

    &.size-md{
      width: 60%;
      left: 20%;
    }
    &.size-sm{
      width: 40%;
      left: 30%;
    }
    &.size-lg{
      width: 70%;
      left: 15%;
    }
  }
}
