.notes{
  border-radius: 3px;

  .showing{
    padding: 17px 10px;
    font-size: 12px;
    i{
      float: right;
      font-size: 16px;

    }
  }
  .editing{
    input{
      width: calc(100% - 30px);
      /* background-color: #FFF; */
      /* border: 0px; */
      margin-top: 3px;
      height: 100%;
    }
  }
  &:hover{
    background-color: $tan;
  }
}
