.tabs{
  .tab{
    text-align: center;
    border-bottom: 1px solid $grey;
    border-left: 1px solid $grey;
    background-color: $pure-white;
    cursor: pointer;
    &:first-child{
      border-left:0px;
    }
    &.selected{
      border-bottom: 0px;
    }
  }
}