.tools{
  float: right;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 16px;
  cursor: pointer;

  .dropdown{

    .items{
      width: 200px;
      background: $black;
      padding-top: 30px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      .item{
        color: $white;
      }
    }
  }
}