<template>
  <div class="health" >
    <div v-bind:class="{showing: true, 'bloodied': bloodied}" @click="startEditing" v-show="task == 'showing'">
      {{entity.hp}} / {{maxHp}}
    </div>
    <div class="editing" v-show="task == 'editing'" v-if="entity">
      <input type="text" v-model="entity.hp" v-on:keyup.13="changeHealth" v-on:keyup.27="stopEditing" ref="inputElement" v-on:blur="stopEditing">
    </div>

  </div>
</template>
<script>
  import store from '@/vuex/store';
  import Vue from 'vue'
  export default {
    store,
    props: ['entity', 'type'],
    data(){
      return {
        task: 'showing',
        originalHp: null
      }
     },
    mounted(){
      this.originalHp = this.entity.hp;
    },
    methods: {
      stopEditing(){
        this.task = 'showing'
      },
      startEditing: function(){
        this.task = 'editing'
        var self = this;
        Vue.nextTick(function () {
          self.$refs.inputElement.focus();
        });
      },
      changeHealth: function(){
        store.dispatch('updateEncounterEntity', this.entity).then(() => {
          this.task = 'showing';
          var change = this.originalHp - this.entity.hp;
          var name = null
          if(this.type == 'monster'){
            name = this.entity.monster.monster.name;
          } else {
            name = this.entity.player_character.name;
          }
          if(change > 0){
            store.dispatch('createEvent', '<div class="event damaged"><i class="fa fa-tint"></i> '+name+' was damaged for '+Math.abs(change))+'</div>';
          } else {
            store.dispatch('createEvent', '<div class="event healed"> <i class="fa fa-flask"></i> '+name+' was healed for '+Math.abs(change))+'</div>';
          }
          this.originalHp = this.entity.hp;
        });
      }
    },
    computed: {
      bloodied: function(){
        return this.entity.hp / this.maxHp < 0.5;
      },
      maxHp: function(){
        var hp = 0;
        if(this.type == 'monster'){
          hp = this.entity.monster.monster.hit_points
        }
        if(this.type == 'player_character'){
          hp = this.entity.player_character.max_hp
        }
        return hp;
      }
    }
  }
</script>
