<template>
  <div v-bind:class="{row:true, 'monster-row': true, selected: currentEncounterEntityId == monster.id}" @click="selectMonster">
    <div class="attribute col-md-4">
      {{monsterData.name}} #{{monster.number + 1}}
    </div>
    <div class="attribute col-md-2 health">
      <health :entity="monster" :type="'monster'"></health>
    </div>
    <div class="attribute col-md-1">
      {{monsterData.armor_class}}
    </div>
    <div class="attribute col-md-5 notes">
      <notes :entity="monster" :type="'monster'"></notes>
    </div>
  </div>
</template>

<script>
  import Health from '@/components/Encounters/Health'
  import Notes from '@/components/Encounters/Notes'
  export default {
    props: ['monster', 'currentEncounterEntityId'],
    components:{
      'health' : Health,
      'notes' : Notes,
    },
    computed: {
      monsterData: function () {
        return this.monster.monster.monster;
      }
    },
    methods: {
      selectMonster: function () {
          this.$emit('loadEntity', {
            type: 'monster',
            id: this.monster.monster.id,
            editingEncounterEntity: this.monster
          })
      }
    }
  }
</script>
