<template>
  <div class="notes">
    <div class="showing" @click="startEditing" v-show="task == 'showing'">
      {{entity.notes}} <i class="fa fa-edit"></i>
    </div>
    <div class="editing" v-show="task == 'editing'" v-if="entity">
      <input type="text" v-model="entity.notes" v-on:keyup.13="changeNotes" v-on:keyup.27="stopEditing" ref="inputElement" v-on:blur="stopEditing">
    </div>
  </div>
</template>

<script>

  import store from '@/vuex/store';
  import Vue from 'vue'
  export default {
    store,
    props: ['entity', 'type'],
    data(){
      return {
        task: 'showing'
      }
    },
    methods: {
      stopEditing(){
        this.task = 'showing'
      },
      startEditing: function(){
        this.task = 'editing'
        var self = this;
        Vue.nextTick(function () {
          self.$refs.inputElement.focus();
        });
      },
      changeNotes: function(){
        store.dispatch('updateEncounterEntity', this.entity).then(() => {
          this.task = 'showing';
        });
      }
    }
  }
</script>
