<template>
  <div v-bind:class="{row: true, 'player-character-row': true, selected: currentEncounterEntityId == playerCharacter.id}" @click="selectPlayer">
    <div class="attribute col-md-4">
      {{playerCharacterData.name}}
    </div>
    <div class="attribute col-md-2 health">
      <health :entity="playerCharacter" :type="'player_character'"></health>
    </div>
    <div class="attribute col-md-1">
      {{playerCharacterData.ac}}
    </div>
    <div class="attribute col-md-5 notes">
      <notes :entity="playerCharacter" :type="'player_character'"></notes>
    </div>
  </div>
</template>

<script>
  import Health from '@/components/Encounters/Health'
  import Notes from '@/components/Encounters/Notes'
  export default {
    props: ['playerCharacter', 'currentEncounterEntityId'],
    computed: {
      playerCharacterData: function(){
        return this.playerCharacter.player_character;
      }
    },
    components:{
      'health' : Health,
      'notes' : Notes
    },
    methods: {
      selectPlayer: function(){
        this.$emit('loadEntity', {
          type: 'player',
          id: this.playerCharacter.player_character.id,
          editingEncounterEntity: this.playerCharacter
        })
      }
    }
  }
</script>
