<template>
  <div class="roll-initiative">
    <div class="row">
      <div class="col-md-6 col-padding-lg">
        <h3>Player Characters</h3>
        <table class="table">
          <thead>
            <th>
              Name
            </th>
            <th>
              Roll
            </th>
          </thead>
          <tbody>

            <tr v-for="player in players">
              <td>
                {{player.player_character.name}}
              </td>
              <td>
                <input type="number" v-model="player.initiative">{{Math.floor((player.player_character.dex-10) / 2) >= 0 ? '+' : ''}}
                {{Math.floor((player.player_character.dex-10) / 2)}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 col-padding-lg">
        <h3>Monsters</h3>
        <table class="table">
          <thead>
          <th>
            Name
          </th>
          <th>
            Roll
          </th>
          </thead>
          <tbody>

          <tr v-for="monster in monsters">
            <td>
              {{monster.monster.monster.name}} #{{monster.number + 1}}
            </td>
            <td>
              <input type="number" v-model="monster.initiative"> {{Math.floor((monster.monster.monster.dexterity-10) / 2) >= 0 ? '+' : ''}}
              {{Math.floor((monster.monster.monster.dexterity-10) / 2)}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <a @click="start" class="btn btn-full btn-primary">Start Encounter</a>
    </div>
    <div class="clearfix"></div>

  </div>
</template>

<script>
  import store from '@/vuex/store'
  export default{
    store,
    methods: {
      start: function(){
        var entities = this.entities.map(function(entity){
          let modifier = 0;
          if(entity.type == 'player_character'){
            modifier = Math.floor((entity.player_character.dex-10) / 2)
          } else {
            modifier = Math.floor((entity.monster.monster.dexterity-10) / 2)
          }
          return {
            type: entity.type,
            id: entity.id,
            initiative: parseInt(entity.initiative) + modifier
          }
        })
        store.dispatch('rollInitiative', entities).then(() => {
          this.$emit('hideModal');
        })
      }
    },
    computed: {
      entities (){
        console.log(this.$store.state.encounterEntities);
        return this.$store.state.encounterEntities
      },
      players () {
        return this.entities.filter(function(entity){
          return entity.type == 'player_character'
        }).map(function(entity){
          if(entity.initiative !== 0){
            return entity;
          }
          entity.initiative = Math.floor(Math.random() * 21);
          return entity;
        })
      },
      monsters () {
        return this.entities.filter(function(entity){
          return entity.type == 'monster'
        }).map(function(entity){
          if(entity.initiative !== 0){
            return entity;
          }
          entity.initiative = Math.floor(Math.random() * 21);
          return entity;
        })
      }
    }
  }
</script>
