<template>
  <div class="encounter" style="height: 100%">
    <div class="panel-header">
      <h3>Current Encounter</h3>
    </div>

    <div class="encounter-content">
      <div class="row table-headers">
        <div class="col-md-4 table-header">
          <h4>Combatant</h4>
        </div>
        <div class="col-md-2 table-header">
          <i class="fa fa-heart"></i>
        </div>
        <div class="col-md-1 table-header">
          <i class="fa fa-shield"></i>
        </div>
        <div class="col-md-5 table-header">
          <h4>Notes</h4>
        </div>
      </div>
        <div class="entity-row row" v-for="entity in members">
          <monsterRow :currentEncounterEntityId="currentEncounterEntityId" :monster="entity" v-if="entity.type == 'monster'" @loadEntity="loadEntity"/>
          <playerCharacterRow :currentEncounterEntityId="currentEncounterEntityId" :playerCharacter="entity" v-if="entity.type == 'player_character'" @loadEntity="loadEntity"/>
        </div>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
  import store from '@/vuex/store'
  import MonsterRow from '@/components/Encounters/Monster'
  import PlayerCharacterRow from '@/components/Encounters/PlayerCharacter'

  export default {
    store,
    computed: {
      members: function () {
        return this.$store.state.encounterEntities
      },
      currentEncounterEntityId: function () {
        return this.$store.state.currentEncounterEntityId
      }
    },
    components: {
      'monsterRow': MonsterRow,
      'playerCharacterRow' : PlayerCharacterRow
    },
    methods: {
      loadEntity: function (data) {
        this.$emit('loadEntity', data)
        store.dispatch('selectEncounterEntity', data.editingEncounterEntity.id);
      }
    }
  }
</script>
