<template>
  <div class="dashboard">
    <modal :size="'lg'" :showing="rollingInitiative" @hideModal="stopRolling">
      <div slot="header">
        Roll Initiative!
      </div>
      <div slot="content">
        <roll-initiative @hideModal="stopRolling"/>
      </div>
    </modal>
    <header-template/>
    <div class="row action-bar">
      <div class=" col-md-8">
        <events/>
      </div>
      <div class="col-md-2">
        <encounter-control-button title="Roll Initiative" icon="fa-play" :action="rollInitiative"/>
      </div>
      <div class="col-md-2">
        <encounter-control-button title="Stop Encounter" icon="fa-stop" :action="endEncounter"/>
      </div>
    </div>
    <div class="row main-content">
      <div class="col-md-3">
        <library v-on:loadEntity="loadEntity" v-on:create="createEntity" v-on:closePanel="closePanel"/>
      </div>
      <div class="col-md-4">
        <div class="entity">
          <div style="height: 100%" v-if="currentEntityType == 'monster'">
            <monster :id="currentEntityId" :encounterMonster="editingEncounterEntity" v-on:closePanel="closePanel" v-on:loadEntity="loadEntity"/>
          </div>
          <div style="height: 100%" v-if="currentEntityType == 'spell'">
            <spell :id="currentEntityId" v-on:closePanel="closePanel"/>
          </div>
          <div style="height: 100%" v-if="currentEntityType == 'player'">
            <player :id="currentEntityId" :encounterPlayerCharacter="editingEncounterEntity" v-on:closePanel="closePanel" v-on:loadEntity="loadEntity"/>
          </div>
          <div style="height: 100%;" v-if="currentEntityType == 'create_player'">
            <div class="panel-header light">
              <h3>Create or Update Player</h3>
            </div>
            <create-player :editingPlayer="editingEntity" v-on:closePanel="closePanel" v-on:loadEntity="loadEntity"/>
          </div>
          <div style="height: 100%;" v-if="currentEntityType == 'create_monster'">
            <div class="panel-header light">
              <h3>Create Monster</h3>
            </div>
            <create-monster :editingMonster="editingEntity" v-on:closePanel="closePanel" v-on:loadEntity="loadEntity"/>
          </div>
          <div style="height: 100%;" v-if="currentEntityType == 'create_spell'">
            <div class="panel-header light">
              <h3>Create Spell</h3>
              <h4>Coming soon!</h4>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-5">
        <encounter @loadEntity="loadEntity"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Header from '@/components/Layouts/Header/Header'
  import Events from '@/components/Events/View'
  import ChangeTurnButton from '@/components/Layouts/Dashboard/EncounterControlButton'
  import Library from '@/components/Layouts/Dashboard/Library'
  import Monster from '@/components/Monsters/View'
  import Player from '@/components/PlayerCharacters/View'
  import Spell from '@/components/Spells/View'
  import Encounter from '@/components/Encounters/View'
  import CreatePlayer from '@/components/PlayerCharacters/Create'
  import CreateMonster from '@/components/Monsters/Create'
  import Modal from '@/components/Elements/Modal'
  import RollInitiative from '@/components/Encounters/RollInitiative'
  import store from '@/vuex/store'

  export default {
    store,
    components: {
      'header-template': Header,
      'events': Events,
      'encounter-control-button': ChangeTurnButton,
      'library': Library,
      'monster': Monster,
      'player': Player,
      'spell': Spell,
      'encounter' : Encounter,
      'create-player' : CreatePlayer,
      'modal' : Modal,
      'roll-initiative' : RollInitiative,
      'create-monster' : CreateMonster
    },
    data() {
      return {
        editingEntity: {},
        currentEntityType: undefined,
        currentEntityId: undefined,
        editingEncounterEntity: {},
        rollingInitiative: false
      }
    },
    methods: {
      createEntity: function(entityType){
        this.currentEntityType = 'create_'+entityType
        this.editingEntity = {
          race_id: 1,
          alignment_id: 1,
          class_id: 1,
          cha: 10,
          wis: 10,
          dex: 10,
          str: 10,
          int: 10,
          con: 10,
          cha_saving: 0,
          wis_saving: 0,
          dex_saving: 0,
          str_saving: 0,
          int_saving: 0,
          con_saving: 0
        };
      },
      closePanel: function(){
        this.currentEntityType = undefined;
        this.currentEntityId = undefined;
      },
      rollInitiative: function(){
        if(this.$store.state.encounterEntities.length > 0){
          this.rollingInitiative = true;
        }
      },
      endEncounter: function(){
        if(this.$store.state.encounterEntities.length == 0){
          return;
        }
        if(confirm('Are you sure you would like to end this encounter? It will be stored and a new blank encounter will be created.')){
          store.dispatch('createEncounter').then(() => {
            store.dispatch('createEvent', 'Encounter ended!');
          });
        }

      },
      loadEntity: function(data) {
        this.currentEntityType = data.type;
        this.currentEntityId = data.id;
        this.editingEntity = data.entity
        this.editingEncounterEntity = data.editingEncounterEntity
      },
      stopRolling: function(){
        this.rollingInitiative = false;
      }
    }
  }
</script>
