<template>
  <div class="home">
    <header>
      <div class="text-center">
        <logo></logo>
      </div>

    </header>
    <div class="new-encounter">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <create-party/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CreateParty from '@/components/Parties/Create'
  import Logo from '@/components/Layouts/Header/Logo'
  export default {
    name: 'Home',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    },
    components: {
      'create-party':CreateParty,
      'logo':Logo
    }
}
</script>

