<template>
  <div class="create-party">
    <div class="row">
      <div class="col-md-6 col-padding-lg">
        <h4>Welcome</h4>
        <p>
          This is V1.0 of Encounters, the ultimate D&D assistant not because it does everything - because it doesn’t.  The perfect tool for any weary Dungeon Master.
        </p>
        <form>

        </form>
      </div>
      <div class="col-md-6 col-padding-lg">
        <h4>Welcome Back</h4>
        <label>
          <p>Simply enter your party code from your existing encounter.</p>
          <input type="text" v-model="joinPartyCode">
        </label>

      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row btn-row">
      <div class="col-md-6">
        <a class="btn btn-span btn-span-red" @click="createParty">Create</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-span btn-span-blue" @click="joinParty">Join Party</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</template>


<script>
  import store from '@/vuex/store'
  import router from '@/router'

  export default {
    name: 'CreateParty',
    store,
    data() {
      return {
        joinPartyCode: ''
      }
    },
    methods: {
      createParty() {
        store.dispatch('createParty').then(() => {

          store.dispatch('createEncounter', {
            party_code: this.$store.state.party.hash
          });
        })

      },
      joinParty() {
        router.push(this.joinPartyCode)
      }
    },
    computed: {}

  }
</script>
