<template>
    <div class="party row">
        <div class="col-md-6">
            <latest-event/>
        </div>
        <div class="col-md-6">
            <create-event/>
        </div>

    </div>
</template>

<script>
    import CreatePlayer from '@/components/PlayerCharacters/Create'
    import PartyList from '@/components/PlayerCharacters/List'
    import MonsterList from '@/components/Monsters/List'
    import Monster from '@/components/Monsters/View'
    import CreateEvent from '@/components/Events/Create'
    import LatestEvent from '@/components/Events/View'
    export default {
        name: 'Party',
        data(){
            return {
                monsterId: null
            }
        },
        methods: {
            loadMonster: function(id){
                this.monsterId = id;
            }
        },
        components: {
            'create-player':CreatePlayer,
            'party-list':PartyList,
            'monster-list':MonsterList,
            'monster':Monster,
            'create-event': CreateEvent,
            'latest-event': LatestEvent
        }
    }
</script>