<template>
  <div class="change-turn-button" @click="performAction">
    <i v-bind:class="['fa' , icon]"></i>
    {{title}}
  </div>
</template>

<script>
  export default {
    name: "ChangeTurnButton",
    props: ['title', 'action', 'icon'],
    methods: {
      performAction: function () {
        this.action();
      }
    }
  }
</script>
