<template>
    <div class="library">
        <div class="panel-header">
            <h3>Library</h3>
        </div>
        <div class="row tabs">
            <div @click="selectTab(1)" v-bind:class="{'col-md-4':true, 'tab': true, 'selected': currentTab == 1}">
                <h4>Creatures</h4>
            </div>
            <div @click="selectTab(2)" v-bind:class="{'col-md-4':true, 'tab': true, 'selected': currentTab == 2}">
                <h4>Spells</h4>
            </div>
            <div @click="selectTab(3)" v-bind:class="{'col-md-4':true, 'tab': true, 'selected': currentTab == 3}">
                <h4>Players</h4>
            </div>
        </div>
        <div class="tab-content">
            <div v-show="currentTab == 1">
                <monster-list v-on:loadEntity="loadEntity" v-on:create="create" v-on:closePanel="closePanel"/>
            </div>
            <div v-show="currentTab == 2">
                <spell-list v-on:loadEntity="loadEntity" v-on:create="create" v-on:closePanel="closePanel"/>
            </div>
            <div v-show="currentTab == 3">
                <player-list v-on:loadEntity="loadEntity" v-on:create="create" v-on:closePanel="closePanel"/>
            </div>
        </div>
    </div>
</template>

<script>
    import store from '@/vuex/store'
    import MonsterList from '@/components/Monsters/List'
    import PlayerList from '@/components/PlayerCharacters/List'
    import SpellList from '@/components/Spells/List'
    export default {
        data () {
            return {
                currentTab: 1,
            }
        },
        store,

        methods: {
            selectTab: function(num){
                this.currentTab = num;
                if(num == 1){
                    this.$store.commit('GET_MONSTER', {});
                }
                if(num == 2){
                    this.$store.commit('GET_PLAYER', {});
                }
                if(num == 3){
                    this.$store.commit('GET_SPELL', {});
                }
                this.$emit('closePanel')

            },
          create: function(type){
            this.$emit('create', type)
          },
          closePanel: function(){
              this.$emit('closePanel', null)
          },
          loadEntity: function(data){
              this.$emit('loadEntity', data);
          }
        },
        components: {
            'monster-list' : MonsterList,
            'player-list' : PlayerList,
            'spell-list' : SpellList
        }
    }
</script>
