<template>
    <div class="style-guide container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>HTML Ipsum Presents</h1>

                <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

                <h2>Header Level 2</h2>

                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                </ol>

                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
                </blockquote>

                <h3>Header Level 3</h3>

                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                </ul>

                <h4>Header Level 4</h4>


    <pre><code>#header h1 a {
        display: block;
        width: 300px;
        height: 80px;
    } </code></pre>

            </div>
            <div class="col-md-6">
                <h5>Header Level 5</h5>
                <div class="wrapper">

                    <div class="table">

                        <div class="row header">
                            <div class="cell">
                                Name
                            </div>
                            <div class="cell">
                                Age
                            </div>
                            <div class="cell">
                                Occupation
                            </div>
                            <div class="cell">
                                Location
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Name">
                                Luke Peters
                            </div>
                            <div class="cell" data-title="Age">
                                25
                            </div>
                            <div class="cell" data-title="Occupation">
                                Freelance Web Developer
                            </div>
                            <div class="cell" data-title="Location">
                                Brookline, MA
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Name">
                                Joseph Smith
                            </div>
                            <div class="cell" data-title="Age">
                                27
                            </div>
                            <div class="cell" data-title="Occupation">
                                Project Manager
                            </div>
                            <div class="cell" data-title="Location">
                                Somerville, MA
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Name">
                                Maxwell Johnson
                            </div>
                            <div class="cell" data-title="Age">
                                26
                            </div>
                            <div class="cell" data-title="Occupation">
                                UX Architect & Designer
                            </div>
                            <div class="cell" data-title="Location">
                                Arlington, MA
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Name">
                                Harry Harrison
                            </div>
                            <div class="cell" data-title="Age">
                                25
                            </div>
                            <div class="cell" data-title="Occupation">
                                Front-End Developer
                            </div>
                            <div class="cell" data-title="Location">
                                Boston, MA
                            </div>
                        </div>

                    </div>
                </div>

                <h6>Header Level 6</h6>
                <form action="#" method="post">
                    <div>
                        <label for="name">Text Input:</label>
                        <input type="text" name="name" id="name" value="" tabindex="1" />
                    </div>

                    <div>
                        <label for="radio-choice-1">Choice 1</label>
                        <input type="radio" name="radio-choice-1" id="radio-choice-1" tabindex="2" value="choice-1" />

                        <label for="radio-choice-2">Choice 2</label>
                        <input type="radio" name="radio-choice-2" id="radio-choice-2" tabindex="3" value="choice-2" />
                    </div>

                    <div>
                        <label for="select-choice">Select Dropdown Choice:</label>
                        <select name="select-choice" id="select-choice">
                            <option value="Choice 1">Choice 1</option>
                            <option value="Choice 2">Choice 2</option>
                            <option value="Choice 3">Choice 3</option>
                        </select>
                    </div>

                    <div>
                        <label for="textarea">Textarea:</label>
                        <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
                    </div>

                    <div>
                        <label for="checkbox">Checkbox:</label>
                        <input type="checkbox" name="checkbox" id="checkbox" />
                    </div>

                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </form>
                <h3>Colors</h3>
                <div class="row colors">
                    <div class="color col-md-1 color-1">
                        <div class="square">
                            Color Name
                        </div>
                    </div>
                    <div class="color col-md-1 color-2">
                        <div class="square">
                            Color Name
                        </div>
                    </div>
                    <div class="color col-md-1 color-3">
                        <div class="square">
                            Color Name
                        </div>
                    </div>
                    <div class="color col-md-1 color-4">
                        <div class="square">
                            Color Name
                        </div>
                    </div>
                    <div class="color col-md-1 color-5">
                        <div class="square">
                            Color Name
                        </div>
                    </div>
                    <div class="color col-md-1 color-6">
                        <div class="square">
                            Color Name
                        </div>
                    </div>
                    <div class="color col-md-1 color-7">
                        <div class="square">
                            Color Name
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: 'StyleGuide'
    }
</script>