<template>
  <div class="modal" v-show="showModal">
    <div class="background" @click="hideModal"></div>
    <div v-bind:class="{'modal-container': true, 'size-sm': size == 'sm', 'size-md': size == 'md', 'size-lg': size == 'lg'}">
      <div class="header">
        <h3><slot name="header"/></h3>
        <div class="close" @click="hideModal"><i class="fa fa-close"></i></div>
      </div>
      <div class="content">
        <slot name="content"/>
      </div>
    </div>
  </div>
</template>

<script>
  export default{
    props: ['size', 'showing'],
    data() {
      return {
        hideValue: false
      }
    },
    methods: {
      hideModal: function(){
        this.$emit('hideModal')
        this.hideValue=true

      }
    },
    watch: {
      showing: function(newVal){
        if(newVal){
          this.hideValue = false;

        }
      }
    },
    computed: {
      showModal: function(){
        var baseShow = this.showing === undefined ? true : this.showing;
        if(this.hideValue){
          return false;
        }
        return baseShow
      }
    }
  }
</script>
