.create-monster{
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 100px;

  .actions{
    .action{
      background-color: $white;
      border: 1px solid $border-grey;
      border-radius: 3px;
      padding: 10px;
      margin-top: 30px;
      input, select, textarea{
        background-color: $pure-white;
      }
    }
  }
}
