.dashboard{
  min-width: 965px;
  height: 100%;
  overflow: hidden;
  .action-bar{
    height: 60px;
  }
  .main-content{
    height: calc(100% - 120px);
    width: 100%;

    .entity{

      height: 100%;
      background-color: $pure-white;
      border-right: 1px solid $grey;
      .add-to-initiative{
        background-color: $red;
        padding-bottom: 2px;
      }
    }


  }
}
