.style-guide{
  padding: 10px;

  .colors{
    .square{
      width: 100%;
      height: 100px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }

    .color-1{
      background-color: $black;
      color: #FFF;
    }
    .color-2{
      background-color: $grey;
    }
    .color-3{
      background-color: $border-grey;
    }
    .color-4{
      background-color: $border-blue;
    }
    .color-5{
      background-color: $blue;
    }
    .color-6{
      background-color: $red;
    }
    .color-7{
      background-color: $lightRed;
    }
  }
}