.encounter{

  .encounter-content{
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 100px;
  }

  h4,h5{
    padding: 0px;
    margin: 0px;
  }
  .table-headers{
    border-bottom: 1px solid $border-grey;
    .table-header{
      border-right: 1px solid $border-grey;
      height: 50px;
      padding: 10px;
      i{
        font-size: 25px;
      }
      &.col-md-2, &.col-md-1{
        text-align: center;
      }
    }
  }

  .entity-row{
    cursor: pointer;
    overflow-y: scroll;


    &:nth-child(odd){
      background-color: $white;
    }
    &:hover{
      background-color: $border-grey;
    }
    border-bottom: 1px solid $border-grey;
    .attribute{
      border-right: 1px solid $border-grey;
      height: 50px;
      padding: 17px 10px;
      font-size: 16px;
      &.col-md-4{
        padding-left: 30px;
      }
      &.health, &.notes{
        padding: 0px;
      }
      &.col-md-2, &.col-md-1{
        text-align: center;
      }
    }
    .selected{
      color: $dark-blue;
      font-weight: bold;
      .col-md-4{
        padding-left: 10px;
        &:before{
          content: "\F054";
          font-size: 22px;
          /* float: left; */
          font: normal normal normal 13px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          /* position: absolute; */
          /* margin-top: -20px; */
          margin-top: 16px;
          /* float: left; */
          /* left: 8px; */
        }
      }
    }
  }
}
