.events{
  background-color: $blue;
  height: 100%;
  padding-top: 20px;
  overflow: scroll;
  padding-left:40px;
  box-sizing: border-box;
  font-size: 20px;

  .event{
    &.damaged{
      i{
        color: $red
      }
    }
    &.healed{
      i{
        color: $green
      }
    }
  }
}
