.monster-container{
  .orange-box-large{
    height: 35px;
    .monster-dropdown{
      .title{
        left: 100%;
        position: absolute;
        margin-left: -139px;
        padding: 10px;
      }
      .items{
        margin-top: 34px;
        background-color: #e49937;
        margin-right: 0px;

        a{
          color: $white;
        }
      }
    }
    .encounter-dropdown{

      .title{
        display: inline-block;
        left: 100%;
        position: absolute;
        margin-left: -153px;
        background-color: $red;
        color: $white;
        padding: 10px;
      }
      .items{
        margin-top: 33px;
        background-color: $red;
        margin-right: 1px;
        width: 200px;
        a{
          color: $white;
        }
      }

      &.push-left{
        .title{
          margin-left: -300px;
        }
        .items{
          margin-right: 150px;
        }
      }
    }
  }
}
