.player-character{
  .level{
    float: right;
    margin-top: -24px;
    font-style: normal;
  }
  .orange-box{
    height: 35px;
  }
  .dropdown{
    &.player-dropdown{
      .title{
        margin-left: -133px;
      }
    }
    &.encounter-dropdown{
      .title{
        margin-left: -286px;
        background-color: $red;
        padding: 9px 9px 10px 9px;
        color: $white;
      }
      .items{
        right: 137px;
        background-color: $red;
        width: 200px;
      }
    }
    .title{
      display: inline-block;
      left: 100%;
      position: absolute;
      cursor: pointer;
      padding: 10px;
    }
    .items{
      background-color: #e49937;
      margin-top: 33px;
      margin-right: 1px;
      a{
        color: $white;
      }
    }
  }
}
