.spell-container{
  height: 100%;
  padding: 10px;
  .orange-box{
    background-color: #e49937;
    border: 1px solid $grey;
    height: 7px;
  }
  .spell{
    background-color: $stat-block-background;
    padding: 10px;
  }
}