.stat-block-container{
  height: 100%;
  padding: 0px;
  .orange-box{
    background-color: #e49937;
    border-top: 1px solid $grey;
    border-top: 1px solid $grey;
    min-height: 7px;
  }
  .stat-block-content{
    background-color: $stat-block-background;
    height: 100%;
    overflow: scroll;
    padding: 10px;
    padding-bottom: 100px;
    h3, .stat-block{
      b{
        color: $stat-block-red;
        font-style: normal;

      }
      color: $stat-block-red;
    }
    b{
      color: $black;
      font-style: italic;
    }
    h3, h4{
      padding: 0px;
    }
    h4{
      font-family: $sans-serif;
      font-weight:300;
    }
    h4{
      margin-top: 10px;
      color: $stat-block-red;
      width: 100%;
      border-bottom: 1px solid $stat-block-red;
    }
    .minor-details{
      font-style: italic;
    }
    hr{
      margin:10px 0px;
      background-color: $red;
      height: 3px;
    }
  }
  .action{
    margin-bottom: 10px;
  }
  table{
    width: 100%;
    text-align: center;
    line-height: 21px;
    color: $stat-block-red;

    .table-header{
      font-weight: bold;
    }
  }
}
